@model 專題.Models.EFModels.QuestionType

@{
    ViewBag.Title = "Details";
}

<h2>詳細內容</h2>

<div>
    <h4>問題類型</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回到清單", "Index")
</p>
