@model 專題.Models.EFModels.ForumSection

@{
    ViewBag.Title = "Delete";
}

<h2>刪除區塊</h2>

<h3>確定要刪除此區塊嗎</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           區塊名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除區塊" class="btn btn-default" /> |
            @Html.ActionLink("回到區塊管理", "Index")
        </div>
    }
</div>
