@model 專題.Models.EFModels.ForumSection

@{
    ViewBag.Title = "Details";
}

<h2>詳細資料</h2>

<div>
    <h4>區塊</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           區塊名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改名稱", "Edit", new { id = Model.id }) |
    @Html.ActionLink("回到區塊管理", "Index")
</p>
