@model IEnumerable<專題.Models.EFModels.ForumSection>

<p>
    @Html.ActionLink("新增區塊", "Create")
</p>
<table class="table">
    <tr>
        <th>
           區塊名稱
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sectionName)
        </td>
        <td>
            @Html.ActionLink("修改區塊名稱", "Edit", new { id=item.id }) |
            @Html.ActionLink("刪除區塊", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
